/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body te
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel, .item, .active {
  height:100%;
}
.carousel-inner {
  height:100%;
}
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel .carousel-inner .bg {
  background-repeat:no-repeat;
  background-size:cover;
}
.carousel .carousel-inner .bg1 {
  background-image: "../img/resize.jpg";
  background-position: center top; 
}
.carousel .carousel-inner .bg2 {
  background-image: "../img/resize.jpg";
  background-position: center center; 
}
.carousel .carousel-inner .bg3 {
  background-image: "../img/resize.jpg";
  background-position: center bottom; 
}